@font-face {
  font-family: 'Fira Mono';
  src: local("Fira Mono Regular"),
    url("./ttf/FiraMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Mono';
  src: local("Fira Mono Medium"),
    url("./ttf/FiraMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Mono';
  src: local("Fira Mono Bold"),
    url("./ttf/FiraMono-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
