@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans ExtraLight"),
    url("./ttf/FiraSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Light"),
    url("./ttf/FiraSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Regular"),
    url("./ttf/FiraSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Medium"),
    url("./ttf/FiraSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Bold"),
    url("./ttf/FiraSans-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans ExtraBold"),
    url("./ttf/FiraSans-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Heavy"),
    url("./ttf/FiraSans-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
