<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Microbium</title>
  </head>
  <body>
    <!-- webpack builds are automatically injected -->
    <script>
      // Something
    </script>
  </body>
</html>
